version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:11
    working_directory: ~/repo

    steps:
      - checkout

      # ... rest of the steps ...

      - run:
          name: Set execute permissions for chromedriver and selenium-server JAR
          command: |
            chmod +x driver/chromedriver
            chmod +x selenium_standalone_server/selenium-server-standalone-3.8.1.jar

      - run:
          name: Start chromedriver and Selenium server on port 4444
          background: true  # Start in the background
          command: |
            java -Dwebdriver.chrome.driver=driver/chromedriver -jar selenium_standalone_server/selenium-server-standalone-3.8.1.jar -port 4444

      - run:
          name: Wait for Selenium server to start
          command: sleep 10  # Adjust the timeout duration as needed

      - run:
          name: Build with Maven
          command: ./mvnw test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
