version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk  # Use OpenJDK 11 image
    steps:
      - checkout

      - run:
          name: Install Chrome browser for Selenide
          command: |
            wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
            sudo apt-get update && sudo apt-get install -y google-chrome-stable

      - run:
          name: Install ChromeDriver for Selenide
          command: |
            CHROME_DRIVER_VERSION=$(curl -sS https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
            wget -N https://chromedriver.storage.googleapis.com/$CHROME_DRIVER_VERSION/chromedriver_linux64.zip -P ~/
            unzip -o ~/chromedriver_linux64.zip -d ~/
            sudo mv -f ~/chromedriver /usr/local/bin/chromedriver
            sudo chmod +x /usr/local/bin/chromedriver

      - run:
          name: Install Maven and run tests
          command: |
            sudo apt-get install -y maven
            mvn clean test  # Replace with your build command (e.g., gradle test, etc.)
