version: 2.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:11  # Use the appropriate Java version here

    working_directory: ~/CasinoTestFrameworkJava

    steps:
      - checkout  # Check out your Java project from version control


        # Install Chrome and ChromeDriver in a Docker container
      - run:
          name: Install Chrome and ChromeDriver
          command: |
            sudo apt-get update
            sudo apt-get install -y wget gnupg
            wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
            echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
            sudo apt-get update
            sudo apt-get install -y google-chrome-stable
            LATEST_CHROMEDRIVER=$(wget -q -O - https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
            wget -q -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER/chromedriver_linux64.zip
            unzip /tmp/chromedriver.zip -d /tmp
            sudo mv /tmp/chromedriver /usr/local/bin/chromedriver
            sudo chmod +x /usr/local/bin/chromedriver

      # Install any dependencies or build tools required (e.g., Maven, Gradle)
      # Example for Maven:
      - run:
          name: Install Maven
          command: |
            ./mvnw --version  # Or any other installation commands if necessary

#      # Compile the Java code using the appropriate build tool (e.g., Maven, Gradle)
#      # Example for Maven:
#      - run:
#          name: Compile Java code
#          command: |
#            ./mvnw compile  # Or any other compilation command specific to your build tool

      # Run your tests
      # Example for Maven:
      - run:
          name: Run tests
          command: |
            ./mvnw test  # Or any other test execution command specific to your build tool

      # Generate Allure report
      # Example for Maven:
      - run:
          name: Generate Allure report
          command: |
            ./mvnw allure:report

      # Other steps as needed for your build process

workflows:
  version: 2
  build:
    jobs:
      - build
