<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SelenideAutoTests" verbose="1">

    <listeners>
        <listener class-name="casino.A_BaseTestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="casino.SeleniumHealthCheck" />
        </classes>
    </test>

</suite>
