<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SelenideAutoTests" verbose="1">

    <listeners>
        <listener class-name="casino.A_BaseTestListener"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="casino.mga.LogInTests" />
        </classes>
    </test>

</suite>
