name: Java CI with Selenium

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg

      - name: Download Google Chrome signing key
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -

      - name: Add Google Chrome repository
        run: |
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list

      - name: Update package list
        run: |
          sudo apt-get update

      - name: Install Google Chrome
        run: |
          sudo apt-get install -y google-chrome-stable

      - name: Install Chromedriver
        run: |
          chmod +x chromedriver
          mv chromedriver driver/
#          CHROMEDRIVER_VERSION=106.0.5249.61
#          # Download the latest available Chromedriver version
#          wget -q "https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip"
#          unzip chromedriver_linux64.zip


      - name: Start Selenium Server in Docker container
        run: |
          docker run -d --name selenium-server -p 4444:4444 selenium/standalone-chrome:3.8.1

      - name: Wait for Selenium server to start
        run: sleep 10

      - name: Build with Maven and check exit code
        run: ./mvnw test --file pom.xml

      - name: Stop and remove the Selenium Server container
        run: docker rm -f selenium-server

      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ./CasinoFramework/build/reports/tests
