# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
name: Java CI with Maven

# Set up cases when to run Actions
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: circleci/openjdk:11  # Use the appropriate Java version here

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Chrome and ChromeDriver
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          LATEST_CHROMEDRIVER=$(wget -q -O - https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
          wget -q -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER/chromedriver_linux64.zip
          unzip /tmp/chromedriver.zip -d /tmp
          sudo mv /tmp/chromedriver /usr/local/bin/chromedriver
          sudo chmod +x /usr/local/bin/chromedriver

      - name: Set up Maven
        run: |
          ./mvnw --version  # Or any other installation commands if necessary

      - name: Generate Allure report
        run: |
          ./mvnw allure:report

      - name: Start Selenium Hub
        run: |
          docker run -d -p 4444:4444 selenium/hub:3.141.59
          sleep 5  # Give the Hub some time to start

      - name: Start Selenium Node (Chrome)
        run: |
          docker run -d -e HUB_HOST=host.docker.internal -e HUB_PORT=4444 selenium/node-chrome:3.141.59
          sleep 5  # Give the Node some time to start

      - name: Run tests
        run: |
          ./mvnw test -Dbrowser=chrome -Dheadless=1 -Dremote=1