on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - uses: browser-actions/setup-chrome@latest
        run: chrome --version

      - name: create Folders
        run: sudo mkdir -p /usr/local/selenium/bin /usr/local/selenium/drivers

      - name: Download latest selenium server .jar file
        run : cd /usr/local/selenium/bin && wget http://selenium-release.storage.googleapis.com/3.8/selenium-server-standalone-3.8.1.jar

      - name: Download latest chromedriver
        run: cd /usr/local/selenium/drivers && wget https://chromedriver.storage.googleapis.com/2.35/chromedriver_mac64.zip && unzip -a chromedriver_mac64.zip
#
#      - name:
#      - run:

      - name: Start chromedriver and Selenium server on port 4444
        run: java -Dwebdriver.chrome.driver=/usr/local/selenium/drivers -Dport=4444 -jar /usr/local/selenium/bin/selenium-server-standalone-3.8.1.jar

      - name: Build with Maven
        run: ./mvnw test