name: Java CI with Selenium

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11

      - name: Install Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io

      - name: Start Selenium Server in Docker container
        run: |
          docker run -d --name selenium-server -p 4444:4444 selenium/standalone-chrome:3.8.1

      - name: Wait for Selenium server to start
        run: sleep 10

      - name: Install Google Chrome and Chromedriver
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          CHROMEDRIVER_VERSION=93.0.4577.63
          wget -q "https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip"
          unzip chromedriver_linux64.zip
          chmod +x chromedriver
          mv chromedriver driver/

      - name: Run Selenium tests
        run: |
          cd /Users/macbook/Documents/CasinoFramework/CasinoFramework
          mvn test

      - name: Stop and remove the Selenium Server container
        run: docker rm -f selenium-server
