name: Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # ... rest of the steps ...

      - name: Set execute permissions for chromedriver and selenium-server JAR
        run: |
          chmod +x driver/chromedriver
          chmod +x selenium_standalone_server/selenium-server-standalone-3.8.1.jar

      - name: Start chromedriver and Selenium server on port 4444
        run: java -Dwebdriver.chrome.driver=driver/chromedriver -Dport=4444 -jar selenium_standalone_server/selenium-server-standalone-3.8.1.jar

      - name: Build with Maven
        run: ./mvnw test