name: Java CI with Selenium

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Install Latest Google Chrome
        run: |
          brew install --cask google-chrome

      - name: Start Selenium Server with ChromeDriver and Port
        run: |
          java -Dwebdriver.chrome.driver=macos_driver/chromedriver -Dwebdriver.chrome.args="--remote-allow-origins=* --lang=en_US --no-sandbox --headless=new --disable-dev-shm-usage --ignore-certificate-errors --allow-running-insecure-content disable-blink-features=AutomationControlled" -jar selenium_standalone_server/selenium-server-4.11.0.jar standalone  &

      - name: Wait for Selenium server to start
        run: sleep 10

      - name: Build with Maven and check exit code
        run: ./mvnw test --file pom.xml

      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ./CasinoFramework/build/reports/tests
