name: Java CI with Selenium

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install Google Chrome and Chromedriver
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

          CHROMEDRIVER_VERSION=93.0.4577.63
          wget -q "https://chromedriver.storage.googleapis.com/$CHROMEDRIVER_VERSION/chromedriver_linux64.zip"
          unzip chromedriver_linux64.zip
          chmod +x chromedriver
          mv chromedriver driver/

      - name: Start Selenium Server in Docker container
        run: |
          docker run -d --name selenium-server -p 4444:4444 selenium/standalone-chrome:3.8.1

      - name: Wait for Selenium server to start
        run: sleep 10

      - name: Build with Maven and check exit code
        run: ./mvnw test || export TEST_FAILED=true

      - name: Stop and remove the Selenium Server container
        run: docker rm -f selenium-server

      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ./CasinoFramework/build/reports/tests
